Heyy {{buyer_first_name}}!

Thank you for using Arihant E-Tendering System!

This E-Mail is to confirm that your Tender Number:{{tender_no}} is Awarded.

Following are the Details:
1. Tender No: {{tender_no}}
2. Agriculatural Product: {{product}}
3. Description: {{description}}
4. Quantity in Kg: {{quantity}}
5. Tender Awarded To: {{seller_first_name}} {{seller_last_name}}
6. Tender Awarded by: {{buyer_first_name}} {{buyer_last_name}}
7. Quotation id: {{quotation_no}}
8. Quotation Amount: ₹{{quotamount}}

Thank You!
Arihant Team

