{% extends 'main/navbar.html' %}
{% load static %}

{% block content %}
{% load filters %}

	<br><center><h1>Current Open Tenders</h1></center><br>
	<div>
		<img src="{% static 'images/tenders.jpg' %}" alt="My Image"
		class="rounded mx-auto d-block" style="">
		<br>
	</div>
	
	<br><hr style="height:2px;border-width:0;color:gray;background-color:gray">
	<div class="box-element">
		<div class="cart-row">
			<div style="flex:1"><strong>Tender No</strong></div>
			<div style="flex:1"><strong>Agriculatural Product</strong></div>
			<div style="flex:1"><strong>Description</strong></div>
			<div style="flex:1"><strong>Quantity in Kg</strong></div>
			<div style="flex:1"><strong>Tender Open Date</strong></div>
			<div style="flex:1"><strong>Tender Due Date</strong></div>
		</div>
		{% for tender in tenders %}
		<div class="cart-row">
			<div style="flex:1">{{tender.id}}</div>
			<div style="flex:1">{{tender.product}}</div>
			<div style="flex:1">{{tender.description}}</div>
			<div style="flex:1">{{tender.quantity|kg}}</div>
			<div style="flex:1">{{tender.startdate}}</div>
			<div style="flex:1">{{tender.duedate}}</div>
		</div>
		{% endfor %}
		<hr style="height:2px;border-width:0;color:gray;background-color:gray">
	</div>
	<br><br>
{% endblock content %}
