{% extends 'main/navbar.html' %}
{% load static %}
{% block content %}
<br><center><h1>Password Reset Done</h1></center><br>

<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card2">
            <br>
			<center>
                <p>Your password has been set. You may go ahead and log in now.</p>
                    <a href="{% url 'login' %}"class="btn btn-warning">Login</a>
                    <p>    &emsp;  </p>
            </center>
        </div>
    </div>
</div>
<br>
<br>
{% endblock content %}