{% extends 'main/navbar.html' %}
{% load static %}
{% block content %}
<br><center><h1>Password Reset</h1></center><br>

<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card2">
            <br>
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<h3>Enter new password</h3>
					<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
					<form method="post">
						{% csrf_token %}
						{{form}}
						<input type="Submit" name="Update Password">
					</form>
					<br>
				</div>
				<div class="col-3"></div>
			</div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock content %}